.PracticeArea {
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0 5rem 0;
  height: 85vh;
}

.PracticeArea textarea {
  height: 80%;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
  resize: none;
  border: #2E86E0 solid 2px;
  border-radius: 5px;
  font-size: 2rem;
}

.Button {
  color: #FFF;
  display: inline-block;
  height: 3.5rem;
  width: 10rem;
  font-weight: bold;
  font-size: 1.15rem;
  border: none;
  border-radius: 5px;
}

.StartButton {
  composes: Button;
  background-color: #2E86E0;
}

.StopButton {
  composes: Button;
  background-color: #EF3340;
}
